{% extends 'base.html.twig' %}

{% block title %}Nouvelle Tâche{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Tâche</h1>

    {{ include('todo/_form.html.twig') }}

    <a href="{{ path('app_todo_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
